      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="position-sticky pt-3">
          <ul class="nav flex-column">

            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/Home/Index">
                <span data-feather="home"></span>
                Home
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/Cliente/Index">
                <span data-feather="file"></span>
                Cliente
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/Fatura/Index">
                <span data-feather="shopping-cart"></span>
                Fatura
              </a>
            </li>  
            <li class="nav-item">
              <a class="nav-link" href="/Fornecedor/Index">
                <span data-feather="file"></span>
                Fornecedor
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/ItemPedido/Index">
                <span data-feather="shopping-cart"></span>
                Item-Pedido
              </a>
            </li> 
            <li class="nav-item">
              <a class="nav-link" href="/ItemRequisicao/Index">
                <span data-feather="file"></span>
                Item-Requisição
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/Pedido/Index">
                <span data-feather="shopping-cart"></span>
                Pedido
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/Produto/Index">
                <span data-feather="file"></span>
                Produto
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/ProdutoFornecedor/Index">
                <span data-feather="shopping-cart"></span>
                Produto-Fornecedor
              </a>
            </li>
            <li class="nav-item"></li>
              <a class="nav-link" href="/Requisicao/Index">
                <span data-feather="shopping-cart"></span>
                Requisição
              </a>
            </li>                  
           
          </ul>  
        </div>
      </nav>