@{
    Layout = "_Layout";
    @model DistribuidoraProdutos.Models.ProdutoFornecedor
}

<div class="container">
    <form action="IncluirProdutoFornecedor" method="post">
        <button type="submit" class="btn btn-primary">
            Salvar
        </button>

        <div class="col-10">
            <div class="row">
                <div class="col">
                    <label asp-for="ProdutoCodigo" class="form-label">Código do Produto</label>
                    <input
                        type="number"
                        class="form-control"
                        asp-for="ProdutoCodigo"
                    />
                </div>

                <div class="col">
                    <label asp-for="FornecedorMatricula" class="form-label">Matrícula do Fornecedor</label>
                    <input
                        type="number"
                        class="form-control"
                        asp-for="FornecedorMatricula"
                    />
                </div>
            </div>
        </div>
    </form>
</div>
