@{
    Layout = "_Layout";
    @model DistribuidoraProdutos.Models.Produto
}

<div class="container">
    <form action="IncluirProduto" method="post">
        <button type="submit" class="btn btn-primary">
            Salvar
        </button>

        <div class="col-10">
            <div class="row">
                <div class="col">
                    <label asp-for="Descricao" class="form-label">Descrição</label>
                    <input
                        type="text"
                        class="form-control"
                        asp-for="Descricao"
                    />
                </div>

                <div class="col">
                    <label asp-for="Unidade" class="form-label">Unidade</label>
                    <input
                        type="text"
                        class="form-control"
                        asp-for="Unidade"
                    />
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-4">
                    <label asp-for="PrecoVenda" class="form-label">Preço de Venda</label>
                    <input
                        type="number"
                        step="0.01"
                        class="form-control"
                        asp-for="PrecoVenda"
                    />
                </div>
            </div>
        </div>
    </form>
</div>
